<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<variable name="logDirectory" value="..\Logs" />
	<targets async="true">
		<target name="PrimaryTarget"
			xsi:type="File"
			encoding="utf-8"
			fileName="${logDirectory}\${date:format=yyyy-MM-dd}.log.xml"
			maxArchiveDays="30"
			archiveNumbering="Date"
			archiveEvery="Day"
			keepFileOpen="true"
			openFileCacheTimeout="30">
			<layout xsi:type="Log4JXmlEventLayout"
				includeAllProperties="true"
				includeCallSite="true"
            />
		</target>
		<target name="QuickTarget"
			xsi:type="File"
			encoding="utf-8"
			fileName="${logDirectory}\Log.txt"
			layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} [${threadid}] ${level:padding=-5} ${logger} - ${message}"
			archiveAboveSize="1000000"
			maxArchiveFiles="1"
			archiveNumbering="Rolling"
			archiveOldFileOnStartup="true"
			keepFileOpen="true"
			openFileCacheTimeout="30">
		</target>
		<target name="ConsoleTarget"
			xsi:type="ColoredConsole"
			layout="${date::format=yyyy-MM-dd HH\:mm\:ss.fff} ${logger}: ${message}">
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="White" backgroundColor="Red" />
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="PrimaryTarget" />
		<logger name="*" minlevel="Debug" writeTo="QuickTarget" />
		<logger name="*" minlevel="Debug" writeTo="ConsoleTarget" />
	</rules>
</nlog>